---
import InputForm from '../components/InputForm'
import ListTask from '../components/ListTask'
import '../style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Manajemen Tugas</title>
	</head>
	<body class="p-12 bg-slate-600 text-white flex flex-col justify-center items-center">
		<h1 class="text-5xl">Manajemen Tugas</h1>
		<InputForm client:load/>
		<ListTask client:load/>
	</body>
</html>
